@model IEnumerable<SERP.Core.Model.FeeDetails.OnlineFeeModel>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span style="color:#ff6a00">If the course and subject name is same ,Then amount will be <b>Course Amount</b> </span>

                    <table id="tblDataList" class="table table-striped table-bordered responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Subject</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.GroupBy(x => x.CourseName))
                            {
                                if (data.First().SubjectName != data.First().CourseName)
                                {
                                    foreach (var feeAmount in data)
                                    {
                                        <tr>
                                            <td>
                                                @feeAmount.CourseName
                                            </td>
                                            <td>
                                                @feeAmount.SubjectName
                                            </td>
                                            <td>
                                                @feeAmount.Description
                                            </td>
                                            <td>
                                                @feeAmount.Amount
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="UpdateRecord(@feeAmount.Id, this)">
                                                    <i class="fa fa-edit" style="color:#3C8DBC"></i>

                                                </a>

                                                <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="DeleteRecord(@feeAmount.Id, this)">
                                                    <i class="fa fa-trash" style="color:#DD4B39"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function DeleteRecord(id, event) {
        var geturl = "/VideoFee/GetOnlineFeeDetails";
        var deleteUrl = "/VideoFee/Delete";
        CustomDeleteRecord(id, geturl, deleteUrl, event);
    }
    function UpdateRecord(id, event) {
        var updateUrl = "/VideoFee/Index";
        UpdateCustomRecord(id, updateUrl, event);
        setTimeout(function () {
            GetSubjectDetails();
        }, 700)
    }
</script>

