@model IEnumerable<SERP.Core.Model.MasterViewModel.StudentPartialInfoViewModel>

<style>
    .id-card-holder {
        width: 100%;
        padding: 4px;
        margin: 0 auto;
        background-color: #1f1f1f;
        border-radius: 5px;
        position: relative;
    }

        .id-card-holder:after {
            content: '';
            width: 7px;
            display: block;
            background-color: #0a0a0a;
            height: 100px;
            position: absolute;
            top: 105px;
            border-radius: 0 5px 5px 0;
        }

        .id-card-holder:before {
            content: '';
            width: 7px;
            display: block;
            background-color: #0a0a0a;
            height: 100px;
            position: absolute;
            top: 105px;
            left: 98%;
            border-radius: 5px 0 0 5px;
        }

    .id-card {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 1.5px 0px #b9b9b9;
    }

        .id-card img {
            margin: 0 auto;
        }

    .header img {
        width: 100px;
        margin-top: 2px;
        align-content: flex-start
    }

    .photo img {
        width: 80px;
        margin-top: 15px;
    }

    h2 {
        font-size: 15px;
        margin: 5px 0;
    }

    h3 {
        font-size: 11px;
        margin: 2.5px 0;
        font-weight: 300;
    }

    p {
        font-size: 9px;
        margin: 2px;
    }

    .id-card-hook {
        background-color: #000;
        width: 70px;
        margin: 0 auto;
        height: 15px;
        border-radius: 5px 5px 0 0;
    }

        .id-card-hook:after {
            content: '';
            background-color: #d7d6d3;
            width: 47px;
            height: 6px;
            display: block;
            margin: 0px auto;
            position: relative;
            top: 6px;
            border-radius: 4px;
        }

    .id-card-tag-strip {
        width: 45px;
        height: 40px;
        background-color: #0950ef;
        margin: 0 auto;
        border-radius: 5px;
        position: relative;
        top: 9px;
        z-index: 1;
        border: 1px solid #0041ad;
    }

        .id-card-tag-strip:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #c1c1c1;
            position: relative;
            top: 10px;
        }

    .id-card-tag {
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 100px solid #0958db;
        margin: -10px auto -30px auto;
    }

        .id-card-tag:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 100px solid #d7d6d3;
            margin: -10px auto -30px auto;
            position: relative;
            top: -130px;
            left: -50px;
        }

    table tr {
        height: 30px;
    }
</style>



<div class="row" id="myCanvas">
    <div class="col-md-12">
        @foreach (var data in Model)
        {
            <div id="dv_@data.Id" class="col-md-4 @data.Id">

                <div class="id-card-holder">
                    <div class="id-card">
                        <div class="header">
                            <img src="~/Images/VMImage.jpg">
                        </div>
                        <div class="photo">
                            @Html.SerpImageHelper(@data.StudentPhoto, 100, 80, "studentId")
                        </div>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    Name :
                                </td>
                                <td>
                                    @data.StudentName
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Class :
                                </td>
                                <td>
                                    @data.CourseName
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Section :
                                </td>
                                <td>
                                    @data.BatchName
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Role No :
                                </td>
                                <td>
                                    @data.RollCode
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Father :
                                </td>
                                <td>
                                    @data.FatherName
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <p>@data.C_Address <p>
                        <p>Ph: @data.FatherPhone | E-Phone: @data.EmergencyPhone</p>
                        <hr />
                        <p><strong>"PENGG"</strong>HOUSE,4th Floor, TC 11/729(4), Division Office Road <p>
                        <p>Ph: 9446062493 | E-ail: info@onetikk.info</p>
                        <button id="btn_@data.Id" class="btn btn-primary" onclick="Print(@data.Id)">Download</button>
                    </div>
                </div>
            </div>

        }

    </div>
    <div class="col-md-12">
        <div class="col-md-6"></div>
        <button class="btn btn-primary TopMar22" onclick="PrintAll()">Download All</button>
    </div>
    <div id="editor"></div>
</div>

<script>
    function PrintAll(course, section) {
        kendo.drawing
            .drawDOM("#myCanvas",
                {
                    paperSize: "A4",
                    margin: { top: "1cm", bottom: "1cm" },
                    scale: 0.8,
                    height: 500
                })
            .then(function (group) {
                kendo.drawing.pdf.saveAs(group, "IDCards.pdf")
            });
    }

    function Print(id) {
        $('#btn_' + id).hide();
        debugger;
        kendo.drawing
            .drawDOM("#dv_" + id,
                {
                    paperSize: "A4",
                    margin: { top: "1cm", bottom: "1cm" },
                    scale: 0.8,
                    height: 500
                })
            .then(function (group) {
                $('#btn_' + id).hide();
                kendo.drawing.pdf.saveAs(group, id + ".pdf")
                $('#btn_' + id).show();
            });
    }
</script>

