<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

@model IEnumerable<SERP.Core.Model.FeeDetails.StudentFeeDetailVm>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 table100 ver5 m-b-110">
                    <table id="tblDataList" class="table table-responsive table-hover" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Payment Type</th>
                                <th>Amount</th>
                                <th>Yearly Amount</th>
                                <th>Discount Type</th>
                                <th>Discount Value</th>
                                <th>Payable Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal netAmount = decimal.Parse("0.0");
                                decimal netDiscount = decimal.Parse("0.0");
                                decimal netPayableAmount = decimal.Parse("0.0");
                                foreach (var data in Model)
                                {
                                    <tr >
                                        <td>
                                            @data.CategoryName
                                        </td>
                                        <td>
                                            @data.FeePaymentType
                                        </td>
                                        <td>
                                            @data.Amount
                                        </td>
                                        <td>
                                            @data.YearlyAmount
                                        </td>
                                        <td>
                                            @if (data.DependentOnParticular == 1)
                                            {
                                                var discountType = data.PertDiscountType?.ToUpper().Trim() == "AM" ? "Amount" : "Percentage";
                                                @discountType
                                            }
                                            else
                                            {
                                                var discountType = data.PertDiscountType?.ToUpper().Trim() == "AM" ? "Amount" : "Percentage";
                                                @discountType
                                            }

                                        </td>
                                        <td>
                                            @if (data.DependentOnParticular == 1)
                                            {
                                                @data.PertDiscountValue
                                            }
                                            else
                                            {
                                                @data.DiscountValue
                                            }

                                        </td>
                                        <td>
                                            @{
                                                netAmount += data.YearlyAmount;
                                                netPayableAmount += data.NetAmount;
                                                netDiscount = netAmount - netPayableAmount;
                                            }
                                            @data.NetAmount
                                        </td>


                                    </tr>
                                }
                                <tr >
                                    <td colspan="6" style="text-align:right">
                                        Net  Amount :
                                    </td>
                                    <td>
                                        @netAmount
                                    </td>
                                </tr>
                                <tr >
                                    <td colspan="6" style="text-align:right">
                                        Net Discount Amount :
                                    </td>
                                    <td>
                                        @netDiscount
                                    </td>
                                </tr>
                                <tr >
                                    <td colspan="6" style="text-align:right">
                                        Net Payable Amount :
                                    </td>
                                    <td>
                                        @netPayableAmount
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Jquery/BundleJsFancyTable.js"></script>