@model IEnumerable<SERP.Core.Entities.Entity.Core.Transaction.StudentMaster>

<link rel="stylesheet" type="text/css" href="~/FancyTable/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/FancyTable/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/FancyTable/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/FancyTable/css/util.css">
<link rel="stylesheet" type="text/css" href="~/FancyTable/css/main.css">
<!--===============================================================================================-->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                

                <div class="table100 ver5 m-b-110">
                    <table data-vertable="ver5">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column2" data-column="column1">Name</th>
                                <th class="column100 column3" data-column="column2">Roll Code</th>
                                <th class="column100 column4" data-column="column3">Registration</th>
                                <th class="column100 column5" data-column="column4">Father Name</th>
                                <th class="column100 column6" data-column="column5">Mother Name</th>
                                <th class="column100 column7" data-column="column6">
                                   Get Detail
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                <tr class="row100">
                                    <td class="column100 column1" data-column="column1">@data.Name</td>
                                    <td class="column100 column2" data-column="column2">@data.RollCode</td>
                                    <td class="column100 column3" data-column="column3">@data.RegistrationNumber</td>
                                    <td class="column100 column5" data-column="column5">@data.FatherName</td>
                                    <td class="column100 column6" data-column="column6">@data.MotherName</td>
                                    <td class="column100 column7" data-column="column7">

                                        <a class="btn btn-success pull-right" onclick="StudentFeeInfo(@data.Id)">
                                            <i class="fa fa-eye-slash"></i>

                                        </a>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/FancyTable/vendor/bootstrap/js/popper.js"></script>
<!--===============================================================================================-->
<script src="~/FancyTable/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/FancyTable/js/main.js"></script>
<script type="text/javascript">

    function StudentFeeInfo(id) {
        $.get("/StudentFeeDetail/GetFeeDetail", { studentId: id }, function (response) {
            $("#divPartialData").html(response);
            $("#divModalPop").modal('show');
        });
    }
</script>