@model SERP.Core.Model.OnlineTest.OnLineExamDetail

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@using SERP.UI.Extension;
@{
    var questions = "";
    if (httpContextAccessor.HttpContext.Session.GetObject<List<string>>("questionIds")!=null)
    {
         questions = string.Join(",", httpContextAccessor.HttpContext.Session.GetObject<List<string>>("questionIds"));
    }

}
<div class="col-xs-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            <h4>(@Model.Sequence)  @Html.Raw(@Model.Question.Replace("<p>", "").Replace("</p>", ""))</h4>
            <input type="hidden" name="Question" value="@Model.QuestionId" />
            <input type="hidden" name="Sequence" value="@Model.Sequence" />

            @if (Model.AnswereType.ToLower().Trim() == "multtiselect")
            {
                @foreach (var opt in Model.Options)
                {
                    if (opt.IsSelected)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked" name="Option" value="@opt.OptionId"> @Html.Raw(opt.Option.Replace("<p>", "").Replace("</p>", ""))
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Option" value="@opt.OptionId"> @Html.Raw(opt.Option.Replace("<p>", "").Replace("</p>", ""))
                            </label>
                        </div>
                    }

                }
            }
            else if (Model.AnswereType.ToLower().Trim() == "singleselect")
            {
                @foreach (var opt in Model.Options)
                {
                    if (opt.IsSelected)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="radio"  checked="checked" name="Option" value="@opt.OptionId"> @Html.Raw(opt.Option.Replace("<p>", "").Replace("</p>", ""))
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="Option" value="@opt.OptionId"> @Html.Raw(opt.Option.Replace("<p>", "").Replace("</p>", ""))
                            </label>
                        </div>
                    }

                }
            }
            else
            {
                <textarea class="form-control" name="Option"></textarea>
            }


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var data = '@questions';
        data.split(',').forEach(function (item) {
            $("#" + item.toString()).attr("style", "background-color:#0095FF")
        });
    });
</script>