<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

<section class="content-header">
    <h1>
        Saalry Slip
    </h1>

</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="overlay divHidding" id="divFormData">
                    <i class="fa fa-refresh fa-spin">

                    </i>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Salary Slip</h3>
                </div>
                <div class="box-body">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Employee</label>
                            <select class="form-control select2" onchange="ClearMonthYear()" id="ddlEmployee" asp-items="@(new SelectList(ViewBag.employeeList,"Id","Name"))">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Year</label>
                            <select class="form-control" id="ddlYear" onchange="ClearMonth()">
                                <option value="0">Select</option>
                                @for (int i = 2020; i <= 2025; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Select Month</label>
                        <select class="form-control" id="ddlMonth" onchange="GetSalarySlip()">
                            <option value="0">Select</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                var month = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i);
                                <option value="@i">@month</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-12">
                        <div id="divSalaryPartial">

                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <div class="col-md-8">
                        <input type="button" class="btn btn-success pull-right" value="Salary Slip" id="btnSalary"  onclick="GetSalarySlip()" />
                        <input type="button" class="btn btn-success pull-right" value="Print Salary" onclick="ExportPdf()" style="display:none" id="btnPrint" />
                        <button class="buttonload" style="display:none">
                            <i class="fa fa-refresh fa-spin"></i>Loading
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="reset" class="btn btn-danger pull-left">Cancel</button>
                    </div>

                </div>


            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/_CommanModalPartial.cshtml")
    </div>
</section>
<script>
    function GetSalarySlip() {
        var employeeId = $("#ddlEmployee").val();
        var year = $("#ddlYear").val();
        var month = $("#ddlMonth").val();
        $('#divSalaryPartial').addClass('loading');
        debugger;
        $.get("/SalarySlip/SalarySlipDetails", { employeeId: employeeId, year: year, month: month }, function (data) {
            $("#divSalaryPartial").html(data);

            $("#btnSalary").attr("style", "display:none");
            $("#btnPrint").removeAttr("style");
            $('#divSalaryPartial').removeClass('loading');
        })
    }
    function ExportPdf() {
        kendo.drawing
            .drawDOM("#divSalaryPartial",
                {
                    paperSize: "A4",
                    margin: { top: "1cm", bottom: "1cm" },
                    scale: 0.8,
                    height: 500
                })
            .then(function (group) {
                kendo.drawing.pdf.saveAs(group, "Salary.pdf")
            });
    }

    function ClearMonthYear() {
        $("#ddlYear").val('0');
        $("#ddlMonth").val('0');
        $("#divSalaryPartial").html('');
    }
    function ClearMonth() {
        $("#ddlMonth").val('0');
        $("#divSalaryPartial").html('');
    }
</script>