@model IEnumerable<SERP.Core.Entities.Entity.Core.Master.CourseMaster>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <table id="tblDataList" class="table-responsive-md table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Attendecne Type</th>
                                <th>Minimum Percentage</th>
                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                <tr>
                                    <td>
                                        @data.Name
                                    </td>
                                    <td>
                                        @data.Code
                                    </td>
                                    <td>
                                        @data.Description
                                    </td>
                                    <td>
                                        @{
                                            var attendenceType = data.AttendenceType == "Daily" ? "Daily" : "Subject Wise";
                                        }
                                        @attendenceType
                                    </td>
                                    <td>
                                        @data.MinimumAttendencePercentage
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="UpdateRecord(@data.Id, this)">
                                            <i class="fa fa-edit" style="color:#3C8DBC"></i>
                                        </a>
                                        <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="DeleteRecord(@data.Id, this)">
                                            <i class="fa fa-trash" style="color:#DD4B39"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function DeleteRecord(id, event) {
        var geturl = "/Course/GetCourseList";
        var deleteUrl = "/Course/DeleteCourse";
        CustomDeleteRecord(id, geturl, deleteUrl, event);
    }
    function UpdateRecord(id, event) {
        debugger;
        var updateUrl = "/Course/Index";
        UpdateCustomRecord(id, updateUrl, event);
    }
</script>