@{
    Layout = null;
}
@model IEnumerable<SERP.Core.Model.UserManagement.MenuSubMenuVm>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using SERP.UI.Extension;
@{
    var studentDetail = HttpContextAccessor.HttpContext.Session.GetObject<SERP.Core.Model.UserManagement.StudentAccountModel>("StudentInfo");
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                @if (string.IsNullOrEmpty(studentDetail.ImagePath))
                {
                    <img src="~/Images/UserLogo.jpg" class="img-circle" alt="User Image">
                }
                else
                {
                    <img src="@studentDetail.ImagePath" class="img-circle" alt="User Image">
                }
            </div>
            <div class="pull-left info">
                <p>@HttpContextAccessor.HttpContext.Session.GetString("userName")</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <!-- search form (Optional) -->

        <div class="input-group">
            <input type="search" name="q" id="txtMenu" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="button" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        @foreach (var data in Model.GroupBy(x => x.ModuleName))
        {
            <ul class="sidebar-menu menuList" data-widget="tree">
                <li class="treeview">
                    <a href="#">
                        <i class="@data.First().ModuleClassName"></i> <span>@data.Key</span>
                    </a>
                    <ul class="treeview-menu" id="ulMenu">
                        @foreach (var item in data)
                        {
                            <li class="active">
                                <a data-ajax="true" data-ajax-mode="replace"
                                   asp-action="@item.ActionName" asp-controller="@item.ControllerName"
                                   data-ajax-update="#divSERP"
                                   data-ajax-begin="AjaxOnBegin" data-ajax-complete="AjaxComplete"
                                   class="nav-link">
                                    <i class="@item.SubModuleClass"></i>
                                    <span>
                                        @item.SubModuleName
                                    </span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            </ul>
        }




    </section>

</aside>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtMenu").on("keyup", function () {
            
            if (this.value.length > 0) {
                $(".menuList li").hide().filter(function () {
                    
                    return $(this).text().toLowerCase().indexOf($("#txtMenu").val().toLowerCase()) != -1;
                }).show();
            }
            else {
                $(".menuList li").show();
            }
        });

    });

    function AdvanceSearch() {
        $("#ModalAdvanceSearch").modal('show');
    }


</script>

