@model SERP.Core.Model.TransactionViewModel.TimeSheetVm
<form asp-controller="TimeTable" asp-action="CreateTimeTable" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="Success">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblDataList" class="table table-hover table-striped table-info" style="width:100%;" border="1">
                            <thead>
                                <tr>
                                    <th>Days</th>
                                    @foreach (var period in Model.TimeTableModels)
                                    {
                                        foreach (var prd in period.PeriodModels)
                                        {
                                            <th>
                                                @prd.Period
                                            </th>
                                        }
                                        break;
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int k = 0;
                                    foreach (var days in Model.TimeTableModels)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" asp-for="TimeTableModels[k].DayName" />
                                                @days.DayName
                                            </td>
                                            @foreach (var period in Model.TimeTableModels.Where(x => x.DayName == days.DayName))
                                            {
                                                int i = 0;
                                                var totalDyas = Model.TimeTableModels.Count();
                                                <input type="hidden" id="totalDays" value="@totalDyas" />
                                                @foreach (var prd in period.PeriodModels)
                                                {
                                                    <td>

                                                        <input type="hidden" asp-for="TimeTableModels[k].PeriodModels[i].Period" />
                                                        <label>Assign Employee</label>
                                                        <select asp-for="TimeTableModels[k].PeriodModels[i].EmployeeId" asp-items="@(new SelectList(ViewBag.EmployeeList, "Id", "Name"))" class="form-control" onchange="AssignChildEmployee(@k, @i, this)">
                                                        </select>
                                                        <label>Assign Subject</label>
                                                        <select asp-for="TimeTableModels[k].PeriodModels[i].SubjectId" asp-items="@(new SelectList(ViewBag.SubjectList, "Id", "SubjectName"))" class="form-control">
                                                        </select>
                                                        <label>From Time</label>
                                                        <input asp-for="TimeTableModels[k].PeriodModels[i].FromTime" type="time" class="form-control" />
                                                        <label>To Time</label>
                                                        <input asp-for="TimeTableModels[k].PeriodModels[i].ToTime" type="time" class="form-control" />
                                                    </td>
                                                    i++;
                                                }

                                            }
                                        </tr>
                                        k++;
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    //function AssignChildEmployee(k, i, event) {
    //    debugger;
    //    var totalCount = $("#totalDays").val();
    //    for (var i = 0; i < totalCount; i++) {
    //        k = k + i;
    //        var employeeId = "TimeTableModels_" + k + "__PeriodModels_0__EmployeeId"
    //        $("#" + employeeId).val(event.Value);
    //    }
    //}
</script>

