@model IEnumerable<SERP.Core.Model.TimeTable.TimeTableModel>

<div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Time Table Details</h3>
        </div>
        <div class="box-body">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                           Day Name
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Batch 
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            From Time
                        </th>
                        <th>
                            To Time
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Action
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach(var data in Model.GroupBy(x=>x.DayName))
                    {
                        <tr>
                            <td >
                                @data.First().DayName
                            </td>
                            <td colspan="7">
                                @foreach(var item in data)
                                { 
                                    <table class="table table-responsive  table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @item.CourseName
                                                </th>
                                                <th>
                                                    @item.BatchName
                                                </th>
                                                <th>
                                                    @item.SubjectName
                                                </th>
                                                <th>
                                                    @item.FromTime
                                                </th>
                                                <th>
                                                    @item.ToTime
                                                </th>
                                                <th>
                                                    @item.EmployeeDetail
                                                </th>
                                                <th>
                                                    <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>"onclick="DeleteInfo(@item.CourseId,@item.BatchId, @item.DayId,'@item.FromTime','@item.ToTime',@item.SubjectId)">
                                                        <i class="fa fa-trash" style="color:#DD4B39"></i>

                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
        <div class="box-footer">

        </div>

    </div>
</div>

