@model SERP.Core.Entities.Entity.Core.ExamDetail.ExamSheet
@{
    ViewData["Title"] = "Exam Time Sheet";
    Layout = null;

}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="~/Multiselect/example-styles.css" rel="stylesheet" />
<script src="~/Multiselect/jquery.multi-select.js"></script>

<section class="content-header">
    <h1>
        Exam Time Sheet
        <small>Create Exam Time Sheet</small>
    </h1>
  
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Exam TimeSheet</h3>
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <a class="btn btn-primary pull-right" onclick="GetNewRecordList()">
                                <i class="fa fa-list-ul"></i>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary pull-left" onclick="NewAcademicMaster()">
                                <i class="fa fa-plus-square"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="overlay divHidding" id="divFormData">
                    <i class="fa fa-refresh fa-spin">

                    </i>
                </div>
                <form id="form" method="post" data-ajax="true" data-ajax-method="post"
                      asp-action="CreateTimeSheet" asp-controller="ExamSheet" data-ajax-success="Success"
                      data-ajax-begin="CustomFormSubmitBegin" data-ajax-complete="CustomFormSubmitComplete">
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <label asp-for="ExamId">Exam Name</label>
                                <select id="ExamId" asp-for="ExamId" onchange="GetExamList()" class="form-control" asp-items="@(new SelectList(ViewBag.ExamList ,"Id","ExamName"))">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="ExamId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CourseId">Select Course</label>
                                <select id="CourseId" asp-for="CourseId" class="form-control" asp-items="@(new SelectList(ViewBag.CourseList ,"Id","Name"))" onchange="GetBatchList()">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="BatchId">Select Batch</label>
                                <select asp-for="BatchId" class="form-control">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="BatchId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="SubjectId">Select Subject</label>
                                <select asp-for="SubjectId" class="form-control">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="SubjectId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ExamDate">Exam Date</label>
                                <select asp-for="ExamDate" class="form-control"></select>
                                <span asp-validation-for="ExamDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="StartTime">Start Time</label>
                                <input asp-for="StartTime" class="form-control">
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="EndTime">End Time</label>
                                <input asp-for="EndTime" class="form-control">
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="InveligitatorId">Inveligitator</label>
                                <select id="InveligitatorId" asp-for="InveligitatorId" class="form-control" asp-items="@(new SelectList(ViewBag.EmployeeList ,"Id","Name"))">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="InveligitatorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="MaxMark">Max Mark</label>
                                <input asp-for="MaxMark" class="form-control">
                                <span asp-validation-for="MaxMark" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="PassMark">Pass Mark</label>
                                <input asp-for="PassMark" class="form-control">
                                <span asp-validation-for="PassMark" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-md-8">
                            @Html.SERPButton("btn btn-primary pull-right btnSubmit", Model == null ? 0 : Model.Id)
                            <button class="buttonload" style="display:none">
                                <i class="fa fa-refresh fa-spin"></i>Loading
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="reset" class="btn btn-danger pull-left">Cancel</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        @Html.Partial("~/Views/Shared/SERPModalPopUp.cshtml")

    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        GetBatchList();
        GetSubjectList();
        GetExamList();
    });
     function GetBatchList() {
        
        var batchId = '@Model?.BatchId';
        var courseId = $("#CourseId").val();
        $("#BatchId").empty();
        $("#BatchId").append('<option value="">Select</option>');
        $.get("/CommanDataForJson/BatchJson", { courseId: courseId }, function (responseData) {
            for (var i = 0; i < responseData.length; i++) {
                var html = '<option value=' + responseData[i].id + '>' + responseData[i].batchName + '</option>';
                $("#BatchId").append(html);
            }
            $("#BatchId").val(parseInt(batchId));
        }).done(GetSubjectList());
    }

    function GetSubjectList() {
        
        var courseId = $("#CourseId").val();
        var subjectId = '@Model?.SubjectId';
        $("#SubjectId").empty()
        $("#SubjectId").append('<option value="">Select</option>');
        $.get("/CommanDataForJson/SubjectJson", { courseId: courseId }, function (responseData) {
            for (var i = 0; i < responseData.length; i++) {
                
                var html = '<option value=' + responseData[i].id + '>' + responseData[i].subjectName + '</option>'
                $("#SubjectId").append(html);
            }
            $("#SubjectId").val(parseInt(subjectId))
        })
    }

    function GetExamList() {
        var examId = $("#ExamId").val();
        $("#ExamDate").empty();
        $.get("/ExamSheet/GetDateTimeList", { id: examId }, function (responseData) {
            for (var i = 0; i < responseData.length; i++) {
                
                var html = '<option value=' + responseData[i].replace("T00:00:00", "") + '>' + responseData[i].replace("T00:00:00", "")+'</option>';
                $("#ExamDate").append(html);
            }
        });
    }


    function GetNewRecordList() {
        GetCustomRecord("/ExamSheet/GetTimeSheet");
        setTimeout(function () {
            $("#modalTitle").text("Exam Master List")
        }, 300);
    }

    function NewAcademicMaster() {
        var url = "ExamSheet/Index";
        NewCustomRecord(url);
    }
</script>