@model IEnumerable<SERP.Core.Model.ExamModel.StudentMarkAllocationVm>

<style>
    tbody {
        display: block;
        height: 50px;
        overflow: auto;
    }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

    thead {
        width: calc( 100% - 1em ) /* scrollbar is average 1em/16px width, remove it from thead width */
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">


                    <table id="tblDataList" class="table table-striped table-bordered responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Roll Code</th>
                                <th> Name</th>
                                <th>Theory</th>
                                <th>Lab</th>
                                <th>Pass Mark</th>
                                <th>Max Mark</th>
                                <th>Grade</th>
                                <th>Percentage</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody style="overflow-y:visible;overflow:scroll;height:600px;">
                            @{ 
                                foreach (var data in Model)
                                {
                                    var lab ="lab"+ data.StudentId ;
                                    var theory = "theory" + data.StudentId;
                                    var percentage = "percentage"+data.StudentId;
                                    var gradeId = "grade" + data.StudentId;
                                <tr>
                                    <td>
                                        @data.RollCode
                                    </td>
                                    <td>
                                        @data.StudentName
                                    </td>
                                    <td>
                                       <input type="number" id="@theory" name="Theory" class="form-control"  max="@data.MaxMarks" min="0"  value="@data.AssignedMarks" 
                                               />
                                    </td>
                                    <td>
                                        <input type="number" id="@lab" name="lab" class="form-control" max="@data.MaxMarks" min="0" value="@data.LabMarks"
                                             onblur="GetGrade('@data.StudentId','@data.MaxMarks')" />
                                    </td>
                                    <td>
                                        @data.PassMark
                                    </td>
                                    <td>
                                        @data.MaxMarks
                                    </td>
                                    <td>
                                       <input id="@gradeId"  data-id="@data.StudentId" type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="hidden" name="studentId" value="@data.StudentId" />
                                        <input id="@percentage" value="@data.Percentage" type="text" class="form-control" />
                                    </td>

                                    <td>
                                        <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="UpdateRecord(@data.StudentId, this)">
                                            <i class="fa fa-edit" style="color:#3C8DBC"></i>
                                        </a>
                                    </td>
                                </tr>
                                    }
                                }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function DeleteRecord(id, event) {
        var geturl = "/Exam/GetExamList";
        var deleteUrl = "/Exam/DeleteExam";
        CustomDeleteRecord(id, geturl, deleteUrl, event);
    }
    function UpdateRecord(id, event) {
        var updateUrl = "/Exam/Index";
        UpdateCustomRecord(id, updateUrl, event);
    }
    function GetGrade(id, maxMarks) {
        
        var theoryId = "#theory" +id;
        var labId = "#lab"+ id;
        var percentageId = "#percentage" + id;
        var gradeId = "#grade" + id;
        var computedMark = parseFloat($(theoryId).val()) + parseFloat($(labId).val());
        var percentage = (parseFloat(computedMark) / parseFloat(maxMarks)) * 100;
        $(percentageId).val(percentage + "%");

        $.get("/StudentMarkAllocation/GetGrade", { marks: percentage }, function (responseData) {
            $(gradeId).val(responseData);
        });
      
    }
</script>

