@{
    ViewData["Title"] = "Index";
    Layout = null;

}
@model SERP.UI.Models.QuestionVm
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <h1>
        Question Bank
        <small>Create Question Bank</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Question Bank</h3>
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <a class="btn btn-primary pull-right" onclick="GetNewRecordList()">
                                <i class="fa fa-list-ul"></i>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary pull-left" onclick="NewAcademicMaster()">
                                <i class="fa fa-plus-square"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="overlay divHidding" id="divFormData">
                    <i class="fa fa-refresh fa-spin">

                    </i>
                </div>
                <form method="post" data-ajax="true" data-ajax-method="post"
                      asp-action="CreateQuestion" asp-controller="OnlineTest" data-ajax-success="Success"
                      data-ajax-begin="CustomFormSubmitBegin" data-ajax-complete="CustomFormSubmitComplete">
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select Course</label>
                                <select id="CourseId" asp-for="QuestionModel.CourseId" class="form-control" asp-items="@(new SelectList(ViewBag.CourseList ,"Id","Name"))" onchange="GetSubjectList()">
                                    <option value="0">Select</option>
                                </select>
                                <span asp-validation-for="QuestionModel.CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="QuestionModel.SubjectId">Select Subject</label>
                                <select asp-for="QuestionModel.SubjectId" class="form-control" id="SubjectId">
                                    <option value="0">Select</option>
                                </select>
                                <span asp-validation-for="QuestionModel.SubjectId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label >Is Multiple Choice</label>
                                <select class="form-control" id="ddlMultiple" onchange="IsMultipleChoise()">
                                    <option value="0">Select</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                                <span asp-validation-for="QuestionModel.SubjectId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" asp-for="QuestionModel.Id" />
                                <input type="hidden" asp-for="QuestionModel.CreatedBy" />
                                <input type="hidden" asp-for="QuestionModel.CreatedDate" />
                                <label asp-for="QuestionModel.Question">Question</label>
                                <textarea asp-for="QuestionModel.Question" class="form-control ckeditor"></textarea>
                                <span asp-validation-for="QuestionModel.Question" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6" id="divMultipleChoice" style="display:none">
                            <div class="form-group">
                                <label>Option</label>
                                <table class="table table-responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Option
                                            </th>
                                            <th>
                                                Option Detail
                                            </th>
                                            <th>
                                                Is Correct
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.OptionMasters != null)
                                        {
                                            for (int i = 0; i < Model.OptionMasters.Count(); i++)
                                            {
                                                var count = i + 1;
                                                <tr>
                                                    <td>
                                                        <label>Option @i</label>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" asp-for="OptionMasters[i].Id" />
                                                        <input asp-for="OptionMasters[i].OptionData" class="form-control">
                                                        <span asp-validation-for="OptionMasters[i].OptionData" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        @if (Model.OptionMasters[i].IsCorrectAnswere == 1)
                                                        {
                                                            <input type="checkbox" onchange="CheckThis(this)" name="IsCorrectAnswere" checked value="@count">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" onchange="CheckThis(this)" name="IsCorrectAnswere" value="@count">
                                                        }

                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <label>Option 1</label>
                                                </td>
                                                <td>
                                                    <input name="OptionData" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="checkbox" onchange="CheckThis(this)" name="IsCorrectAnswere" value="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Option 2</label>
                                                </td>
                                                <td>
                                                    <input name="OptionData" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="checkbox" onchange="CheckThis(this)" name="IsCorrectAnswere" value="2">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Option 3</label>
                                                </td>
                                                <td>
                                                    <input name="OptionData" class="form-control">

                                                </td>
                                                <td>
                                                    <input type="checkbox" onchange="CheckThis(this)" name="IsCorrectAnswere" value="3">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Option 4</label>
                                                </td>
                                                <td>
                                                    <input name="OptionData" class="form-control">

                                                </td>
                                                <td>
                                                    <input type="checkbox" onchange="CheckThis(this)" name="IsCorrectAnswere" value="4">
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-md-8">
                            @Html.SERPButton("btn btn-primary pull-right btnSubmit", Model == null ? 0 : Model.Id)
                            <button class="buttonload" style="display:none">
                                <i class="fa fa-refresh fa-spin"></i>Loading
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="reset" class="btn btn-danger pull-left">Cancel</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/_CommanModalPartial.cshtml")

    </div>
</section>

<script>

    function GetNewRecordList() {
        GetCustomRecord("/OnlineTest/GetList");
        setTimeout(function () {
            $("#modalTitle").text("Question Details")
        }, 300);
    }
    function NewAcademicMaster() {
        var url = "/OnlineTest/Index";
        NewCustomRecord(url);
    }

    $(document).ready(function () {
        CKEDITOR.replace("QuestionModel_Question");
    })

    function CheckThis(eData) {
        debugger;
        $('input:checkbox').removeAttr('checked');

    }
        function GetSubjectList() {
        debugger;
        var courseId = $("#CourseId").val();
        $("#SubjectId").empty()
        $("#SubjectId").append('<option value="0">Select</option>');
        $.get("/CommanDataForJson/SubjectJson", { courseId: courseId }, function (responseData) {
            for (var i = 0; i < responseData.length; i++) {
                debugger;
                var html = '<option value=' + responseData[i].id + '>' + responseData[i].subjectName + '</option>'
                $("#SubjectId").append(html);
            }
        })
    }
    function IsMultipleChoise() {
        var isValue = $("#ddlMultiple").val();
        if (isValue == 1) {
            $("#divMultipleChoice").removeAttr('style');
        }
        else {
            $("#divMultipleChoice").attr('style',"display:none");
        }
    }
</script>

